/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
}

.page-width {
  @include clearfix();
  max-width: $page-width;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.page-width--small-no-padding {
  @include media-query($small) {
    padding-left: 0;
    padding-right: 0;
  }
}
