/*================ Links & Buttons ================*/
a {
  color: $color-body-text;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-secondary;
  }
}

.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0;
  text-align: center;
  color: $color-button-text;
  background: $color-primary;
  border-radius: 0;
  padding: .214em 2.14em;
  text-transform: lowercase;
  font-style: italic;
  font-size: $font-size-small;

  &:hover,
  &:focus {
    background: $color-secondary;
  }
}
