.cart-message {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: $font-size-small;
  color: $color-border;
  text-align: center;
  font-style: italic;
  margin-top: .5em;
  margin-bottom: 0;
}
