.gallery {
  @include clearfix;
  display: block;
  width: 100%;

  @include media-query($medium-up) {
    margin-left: -$gallery-gutter / 2;
    padding-left: $gallery-gutter;
    padding-right: $gallery-gutter;
    margin-bottom: -$gallery-gutter;
    width: 100%;
  }
}

.gallery__image {
  float: left;
  line-height: 0;

  @include media-query($medium-up) {
    padding-bottom: $gallery-gutter;
    padding-left: $gallery-gutter;
  }

  img {
    width: 100%;
  }

  .placeholder-svg {
    position: relative;
  }
}

.gallery__placeholder {
  display: block;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .placeholder-svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .gallery__image:nth-of-type(2) &:before {
    @include media-query($medium-up) {
      padding-top: 50%;
    }
  }

  .gallery__image:nth-of-type(1) &:before {
    @include media-query($medium-up) {
      padding-top: calc(100% + #{$gallery-gutter / 2});
    }
  }

}
