.lookbook-link {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-style: italic;
}

.lookbook-link__item {
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-body-text;
  }
}
