.page-header {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  padding-bottom: $font-size-small;
  position: relative;
  margin-bottom: 1.3rem;

  &:before {
    @extend %before-title;
  }
}

.page-header__title {
  margin-top: 0;
  margin-bottom: 0;
}

.page-header__subtitle {
  color: $color-border;
  font-size: $font-size-small;
  font-style: italic;
  margin: 0;
}
