.product-alt {
  .page-header {
    margin-bottom: .878rem;
  }
}

.product-alt__image-wrapper {
  margin-top: 2rem;
  line-height: 0;

  @include media-query($medium-up) {
    max-width: #{100% / $phi};
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.06rem;
  }

  @include media-query($large-up) {
    max-width: 755px;
  }

  img {
    width: 100%;
  }
}

.product-alt__images {
  margin-bottom: -$gallery-gutter;
  margin: 0 auto;
  padding: 0;
  line-height: 0;

  @include media-query($medium-up) {
    max-width: #{100% / $phi};
  }

  @include media-query($large-up) {
    max-width: 755px;
  }


  li {
    list-style: none;
    margin-bottom: $gallery-gutter;
  }

  img {
    width: 100%;
  }
}

.product-alt__description {
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include media-query($large-up) {
    max-width: 373px;
  }

  .btn {
    display: block;
    width: 100%;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

    @include media-query($large-up) {
      margin-top: 1.53rem;
    }
  }

  h1 {
    font-size: 1rem;
    position: relative;
    padding-bottom: $font-size-small;

    &:before {
      @extend %before-title;
    }
  }
}
