.related-products {
  margin-top: 2rem;

  @include media-query($medium-up) {
    max-width: #{100% / $phi};
    margin-left: auto;
    margin-right: auto;
  }

  @include media-query($large-up) {
    margin-top: 3.6rem;
    max-width: 374px;
  }

  .products-grid {
    @include media-query($medium-up) {
      margin-left: -$gallery-gutter;
    }
  }

  .products-grid__item {
    width: 50%;

    @include media-query($medium-up) {
      padding-left: $gallery-gutter;
    }
  }

  .product-card__image-link {
    @include media-query($large-up) {
      max-width: 237px;
      min-height: 237px;
    }
  }

  .product-card__title {
    display: block;
  }

  .product-card__price {
    display: block;
  }
}

.related-products__title {
  text-decoration: underline;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 1.26rem;
}
