.site-nav {
  list-style: none;
  text-align: center;
  font-size: $font-size-small;
  padding: 0;
  margin: 0;
}

.site-nav__item {
  display: inline-block;

  &:hover {
    > a {
      position: relative;

      &:before {
        content: "";
        left: 2.3rem;
        right: 2.3rem;
        height: 2px;
        background: $color-border;
        position: absolute;
        bottom: -.4rem;
        display: block;
        z-index: 1;
      }
    }
  }

  > a {
    text-transform: uppercase;
    padding-left: 2.3rem;
    padding-right: 2.3rem;

    &:hover,
    &:focus {
      color: $color-body-text;
    }
  }
}
