{% if section.settings.show %}
  <div data-section-id="{{ section.id }}" data-section-type="featured-content">
    {% include 'featured-content' %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Featured content",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show",
        "default": true
      },
      {
        "type": "page",
        "id": "page",
        "label": "Page"
      },
      {
        "type": "richtext",
        "id": "excerpt",
        "label": "Excerpt",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ]
  }
{% endschema %}
